.mint-swipe-items-wrap{padding-bottom: 33.33%;}
#app .mint-header{background-color: #d93639;height: 45px;}
#app .mint-header{background-color: #d93639;height: 45px;}
#app .mint-header-title{font-size: 14px;}