.mint-swipe-items-wrap{padding-bottom: 33.33%;}
#app .mint-header{background-color: #d93639;height: 0.45rem;}
#app .mint-header{background-color: #d93639;height: 0.45rem;}
#app .mint-header-title{font-size: 16px;}