.ft12{font-size: 12px}
.ft14{font-size: 14px}
.ft16{font-size: 16px}

.btn{border-top-style: none;
border-right-style: none;
border-bottom-style: none;
border-left-style: none;}

.bg-fff{
	background-color: #fff;
}
.red{color: #d93639}
.clearfix{
	overflow:hidden;_zoom:1;
}
.icon{
	width: 20px;
	height: 20px;
	display: block;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
.icon-arrow-back{
	background-image: url(../../assets/images/back2.png);
}